*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
div.container{
    width:100vw;
    height: 100vh;
    display: flex;

}

{% load static %}
div.left{
    width:50%;
    background-color: aquamarine;
    /* background: url('/images/signIn.avif'); */
    /* background-image: url("{% media 'images/signIn.avif' %}"); */
    background-image: url("/media/images/signIn.avif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;

}
#togglePassword{
    height: 55px;
    font-size: 20px;
    width: 55px;
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;

}
div.right{
    width: 45%;
    
    /* background-color: rgb(194, 186, 186); */
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 90%;
    margin-top: 50px;
    margin-left: 40px;
}
form h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}
input{
    padding: 15px;
    border-radius: 6px;
    width: 300px;
    margin: 10px;
    font-style: italic;
}
#submitForm{
    background-color: red;
    border: 5px yellow solid;
    color: aliceblue;
    border-radius: 15px;
    font-weight: bolder;
    width: 100%;
}
#submitForm:hover{
    background-color: rgb(1, 1, 1);
    color: rgb(250, 248, 248);
    cursor: pointer;
}
label{
    font-weight: bold;
}
p.text{
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
}
a{
    text-decoration: none;
    color:antiquewhite
}
a:hover{
    text-decoration: underline;
    color: yellow;
}


@media only screen and (max-width: 480px) {
    body{
        background-color: black;
    }
    div.left {
        height: 200px; /* Adjust height as needed for mobiles */
        display: none;
    }
    *{
        padding: 0;
        margin: 0;
    }
    div.right{
        width: 100%;
        height: 100%;
        padding: 7px;
    }

    form h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    input {
        /* width: 100%; */
        max-width: 75%;
        font-size: 14px;
    }
    label{
        font-size: 17px;
        color:gold;
    }
    #togglePassword{
        
        display: none;
    }
    #submitForm{
        width: 50%;
        text-align: center;
        margin-left: 70px;
    }
    p{
        font-size: 17px;
    }
    .flex-row{
        display: flex;
        flex-direction: column;
    }
    .flex-col{
        display: flex;
    }
    h1{
        color:gainsboro;
    }
}