<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Restaurant</title>
    {% load static %}
    {% comment %} {% load media %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
    <style>
        div.left{
            background-image: url("/media/images/signIn.avif");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%;
            background-color: white;
        }
        {% comment %} body{ {% endcomment %}
            {% comment %} background:black; {% endcomment %}
        {% comment %} } {% endcomment %}
    </style>

</head>
<body>
    <div class="container">
        
        <div class="left">
            
        </div>
        <div class="right">
            <form action="/api/loginView/" method="POST">
                {% csrf_token %}
                <h1>Sign In</h1>
                <div class="email">
                    <label for="emailId">E-Mail ID:-</label>
                    <input type="email" name="email" id="email" placeholder="Enter your E-Mail ID" required>
                </div>
                <div class="password">
                    <label for="password">Password:-</label>
                    <input type="password" id="password" name="password" placeholder="Enter your Password" required>
                    <!-- <input type="password" name="password" id="password" placeholder="Your Password"> -->
                    <button id="togglePassword" type="button">👁️</button>


                </div>
                <input type="submit" value="Submit" id="submitForm">
                <p class="text">If you dont have an account. <a href="/signup/">Click Here</a> to create new account.</p>
            </form>
        </div>
    </div>
    <script>
        const passwordInput = document.getElementById('password');
        const toggleButton = document.getElementById('togglePassword');
    
        toggleButton.addEventListener('click', () => {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
           
            
    
           
            toggleButton.textContent = type === 'password' ? '👁️' : '👁️';
        });
    </script>
</body>
</html>